<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="http://localhost:8000/dashboard">Port de plaisance Russel</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="http://localhost:8000/catways-list">Catways</a>
          <a class="nav-link" href="http://localhost:8000/reservations-list">Réservations</a>
          <a class="nav-link" href="http://localhost:8000/users-list">Utilisateurs</a>
          <a class="nav-link" href="#">Documentation API</a>
          <a class="btn btn-outline-danger" href="http://localhost:8000/">Se déconnecter</a>
        </div>
      </div>
    </div>
  </nav>